.rides-page {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
  height: 100vh;
}

.rides-page h2 {
  color: #111827;
}

.ride-search-bar {
  display: flex;
  gap: 12px;
  background: #fff;
  padding: 16px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.ride-search-bar input {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  flex: 1;
}

.ride-search-bar button {
  background-color: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.ride-search-bar button:hover {
  background-color: #3730a3;
}

.map-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #e5e7eb;
  color: #6b7280;
  border-radius: 10px;
}

.ride-map {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  height: 400px; /* or any desired height */
  width: 90%;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

